/* || font imports */
@font-face {
	font-family: 'SansationRegular';
	src: url('fonts/sansation_regular-webfont.eot');
	src: url('fonts/sansation_regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/sansation_regular-webfont.woff') format('woff'),
		url('fonts/sansation_regular-webfont.ttf') format('truetype'),
		url('fonts/sansation_regular-webfont.svg#SansationRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HeydingsCommonIconsRegular';
	src: url('fonts/heydings_icons-webfont.eot');
	src: url('fonts/heydings_icons-webfont.eot?#iefix')
		format('embedded-opentype'), url('fonts/heydings_icons-webfont.woff')
		format('woff'), url('fonts/heydings_icons-webfont.ttf')
		format('truetype'),
		url('fonts/heydings_icons-webfont.svg#HeydingsCommonIconsRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/* || Animation keyframes */
@
-webkit-keyframes menu-move {from { -webkit-transform:translateY(-200px);
	
}

to {
	-webkit-transform: translateY(0px);
}

}
@
-moz-keyframes menu-move {from { -moz-transform:translateY(-200px);
	
}

to {
	-moz-transform: translateY(0px);
}

}
@
-ms-keyframes menu-move {from { -ms-transform:translateY(-200px);
	
}

to {
	-ms-transform: translateY(0px);
}

}
@
-o-keyframes menu-move {from { -o-transform:translateY(-200px);
	
}

to {
	-o-transform: translateY(0px);
}

}
@
keyframes menu-move {from { transform:translateY(-200px);
	
}

to {
	transform: translateY(0px);
}

}
@
-webkit-keyframes button-glow { 0% {
	color: #000;
	background-color: #E69EE0;
}

50%
{
color
:
 
#666
;background-color
:
 
#FFEEEE
;
 
}
100%
{
color
:
 
#000
;background-color
:
 
#E69EE0
;
 
}
}
@
-moz-keyframes button-glow { 0% {
	color: #000;
	background-color: #E69EE0;
}

50%
{
color
:
 
#666
;background-color
:
 
#FFEEEE
;
 
}
100%
{
color
:
 
#000
;background-color
:
 
#E69EE0
;
 
}
}
@
-ms-keyframes button-glow { 0% {
	color: #000;
	background-color: #E69EE0;
}

50%
{
color
:
 
#666
;background-color
:
 
#FFEEEE
;
 
}
100%
{
color
:
 
#000
;background-color
:
 
#E69EE0
;
 
}
}
@
-o-keyframes button-glow { 0% {
	color: #000;
	background-color: #E69EE0;
}

50%
{
color
:
 
#666
;background-color
:
 
#FFEEEE
;
 
}
100%
{
color
:
 
#000
;background-color
:
 
#E69EE0
;
 
}
}
@
keyframes button-glow { 0% {
	color: #000;
	background-color: #E69EE0;
}

50%
{
color
:
 
#666
;background-color
:
 
#FFEEEE
;
 
}
100%
{
color
:
 
#000
;background-color
:
 
#E69EE0
;
 
}
}

/* || general styles */
article,aside,audio,canvas,datalist,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video
	{
	display: block;
}

body {
	font-size: 62.5%;
}

html,body {
	margin: 0;
	padding: 0;
}

/* || icons */
ul li:nth-of-type(1) a:before {
	content: "H";
}

ul li:nth-of-type(2) a:before {
	content: "D";
}

ul li:nth-of-type(3) a:before {
	content: "i";
}

ul li:nth-of-type(4) a:before {
	content: "w";
}

ul a:before {
	font-family: HeydingsCommonIconsRegular;
	position: relative;
	right: 4%;
	top: 6px;
	font-size: 1.6em;
	color: #333;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

ul a {
	padding-left: 1%;
	padding-bottom: 1%;
	background-color: #E69EE0;
	behavior: url(PIE.htc);
}

/* || rest of the menu stuff */
ul {
	width: 80%;
	list-style-type: none;
	margin: 50px auto;
	margin: 3rem auto;
	min-width: 850px;
	-webkit-animation-name: menu-move;
	-moz-animation-name: menu-move;
	-ms-animation-name: menu-move;
	-o-animation-name: menu-move;
	animation-name: menu-move;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

li {
	display: inline;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.4) 70%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.4) 70%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.4) 70%);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.4) 70%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.4) 70%);
}

a,a:visited {
	display: inline-block;
	width: 23%;
	line-height: 20px;
	line-height: 2rem;
	margin-right: -3px;
	border: 1px solid #666;
	font-size: 13px;
	font-size: 1.1rem;
	font-family: SansationRegular, sans-serif;
	text-align: center;
	text-decoration: none;
	color: black;
	box-shadow: inset 0 -10px 25px rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px -1px rgba(255, 255, 255, 0.4);
	behavior: url(PIE.htc);
}

li:first-child a {
	border-radius: 15px 0 0 15px;
	behavior: url(PIE.htc);
}

li:last-child a {
	border-radius: 0 15px 15px 0;
	margin: 0;
	behavior: url(PIE.htc);
}

a:hover,a:focus {
	background-color: #FFEEEE;
	-webkit-animation-name: button-glow;
	-moz-animation-name: button-glow;
	-ms-animation-name: button-glow;
	-o-animation-name: button-glow;
	animation-name: button-glow;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

a:active {
	box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.7), inset 0 -10px 25px
		rgba(0, 0, 0, 0.4);
	behavior: url(PIE.htc);
}